<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="6000">
  <title>Stream Button</title>
  <style type="text/css">
  <!--
  body {
    font-family: "たいぷ", "Arial", "メイリオ";
    font-size: 50px;
  }
  table {
    background-color: #fff;
  }
  -->
  </style>
</head>
<script src="prototype.js"></script>
<body>
  <script type="text/javascript" src="autoload.js"></script>
  <table id="msgs">
    <%= select_data.map { |id, count| "<tr><td><img src='public/#{id}.png' width='100' height='100'></td><td id='id#{id}'>#{ "%0.2d" % count }</td></tr>" }.join %>
  </table>
</body>
</html>
